.img-social{
  margin-top: 50%;
  margin-left:8%;
}
.logo {
    width:80%;
    border-radius:150px;
    border:10px solid #666;
}
.soad {

    display:block;
    margin:auto;
    width:180px;

}
.redhot {

    display:block;
    margin:auto;
    width:180px;

}
.p-soad{
    margin-left: 10px;
    background-color: red;
}
.usuario{
  display:block;
  margin:auto;
  width:30px;
  height: 30px;
}
.contenido-grupo{
  margin: 5px;
  border: solid black;

}
h2{
  display:block;
  margin:auto;
}
