body{
background-image: url("../img/fondo.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.logo{
  height: 150px;
  align: center;
  padding: 5%;
}
.barra-logo{
  height: 200px;
  width: 200px;
  background-color: Azure;
  border: 1px solid MidnightBlue;
  display: flex;
  align-items: center;
  justify-content: center;

}
