body{
background-image: url("../img/fondo.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.barra-superior{
background-color: rgba(139, 153, 255, 0.5);

}
.logo{
  height: 100px;
  align: center;
  padding: 5%;
  border-radius: 30px;
}
.barra-logo{
  margin-top: 20px;
  height: 100px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.lema{
  margin-left: 20px !important;
  margin-top: 120px !important;
  color: white;
}

.btn-distancia{
margin-left: 10px !important;
margin-top: 3% !important;
}

.barra-redes{
  background-color: red;
}
.redes-distancia{
  margin-left: 10% !important;
  margin-top: 10% !important;
  margin-bottom: 15%;
}
.imagen{
  border-radius: 10px;
}
.cont-imagen1{
  margin-top: 10% !important
}
.cont-imagen2{
  margin-top: 10% !important
}
.btn{
  float: right;
}
