body{
background-image: url("../img/1.jpg");
background-size: cover;
background-repeat: no-repeat;
}
}
header{
  color: #FFFFFF;
}
.articulo-1 , .articulo-2{
  padding: 5%;

}
.busqueda{
  padding: 1rem;
  padding-left: 2rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #e6e6e6;
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}
.historial{
  padding: 1em;
}
.favoritos{
    padding: 1em;
}
.favorito{
  padding-left: 2%;

}
.cometarios{
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-bottom:20px;

}
.te-com{
  padding: 20px;

}
.imag-1{
  padding: 20px;

}
